<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>DT Bank</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body align="center">
 <div class="login">
	<h1>Predict Loan Approve</h1>

     
    <form action="{{ url_for('predict')}}" method="post">
    <table border="2" align="center">
    
    <tr>
    <td>Gender:</td>
    <td><select name="sex">
    <option value=2>Male</option>
    <option value=1>Female</option>
    </select></td></tr>
    
    <tr>
    <td>Married:</td>
    <td><select name="married">
    <option value=2>Yes</option>
    <option value=1>No</option>
    </select></td></tr>
    
    <tr>
    <td>Education:</td>
    <td><select name="edu">
    <option value=0>Graduate</option>
    <option value=1>Not Graduate</option>
    </select></td></tr>
    
    <tr>
    <td>Self Employed:</td>
    <td><select name="emp">
    <option value=2>Yes</option>
    <option value=1>No</option>
    </select></td></tr>    

    <tr>
    <td>Property Area:</td>
    <td><select name="pro">
    <option value=0>Rural</option>
    <option value=2>Urban</option>
    <option value=1>Semiurban</option>
    </select></td></tr>

    <tr><td>Dependents:</td>
    <td>
    <input type="text" name="depent" placeholder="Dependents" required="required" />
    </td></tr>

    <tr><td>Applicant Income:</td>
    <td>
    <input type="text" name="income" placeholder="Income" required="required" />
    </td></tr>    

    <tr><td>Co-Applicant Income:</td>
    <td>
    <input type="text" name="coincome" placeholder="Co Applicant Income"
     required="required" />
    </td></tr>
    
    <tr><td>Loan Amount:</td>
    <td>
    <input type="text" name="loan" placeholder="Loan Amount " required="required" />
    </td></tr>
    
    <tr><td>Loan Amount Terms:</td>
    <td>
    <input type="text" name="loanterm" placeholder="Loan Amount Terms" 
    required="required" />
    </td></tr>
    
    <tr><td>Credit History:</td>
    <td>
    <input type="text" name="history" placeholder="Credit History" 
    required="required" />
    </td></tr>            

    <tr>
    <td colspan="2"><button type="submit" class="btn btn-primary btn-block btn-large">
    Predict</button>
    </td></tr>      
    </table>
    </form>
<br><h2>{{ prediction_text }}</h2>

 </div>


</body>
</html>
