    <!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Text Classification</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{url_for('static', filename='css/nav.js')}}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body align="center" onload="myFunction()" style="margin:0;" id="page">

<div class="container-fluid index-page" id="myDiv">
        <section class="header-area" id="myHeader">
                <div class="navbar-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <nav class="navbar navbar-expand-lg">



                                    <div class="col-md-4" align="left" id="logo">
                                    <a class="navbar-brand" href="/">
                                            <img src="{{ url_for('static', filename='image/av.svg') }}" height=50 width=50>
                                    </a>
                                    </div>
        
                                    <div class="col-md-8" id="right">
                                        <ul class="navbar-nav ml-auto">
                                              <li class="nav-item">
                                                 <a href="https://github.com/theav007"> Github </a>
                                            </li>
                                            <li class="nav-item active">
                                                <a href="https://www.linkedin.com/in/av333/"> Linkedin </a>
                                             </li>
                                          
                                            <li class="nav-item">
                                                <a href="https://mail.google.com/mail/"> Akash Vishwakarma </a>
                                            </li>
                                            
                                        </ul>
                                    </div>

                                </nav> <!-- navbar -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- navbar area -->
                </section>

<section id="body2">
<div class="container">           
    <div class="row" id="home">


    <div class="col-md-12" id="new">
        <div class="blue">
        <h4 align="center">Best Wishes News</h4>
        </div>
         <form action="{{ url_for('tesseract')}}" method="post" id="upload-form"
        enctype="multipart/form-data" class="form-signin">
                                
                                    <div class="form-group">
                                        <div class="input-group">
    
                <input type="file" name="image" required="required" id="image" />
                                        </div>
                                    </div>
                       
                            
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <h1 id="result">Result:
    <br>{{prediction_image}}</h1>






        
    </div>
       
    </div>
    </div>

    </section>
<footer id="footer" class="footer-area" style="background-image: url('{{ url_for('static', filename='image/footer.png') }}');">
        
        <div class="footer-widget">
            <div class="container" id="footer1">
                <div class="row" id="foo1">
                    <div class="col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">A Major Project</h6>
                            <p>I <b>Akash Vishwakarma</b>, student of <b>Master of Computer Application, Bhabha Engineering Research Institute, Bhopal (M.P.)</b>
                            </p>
                        </div> <!-- footer link -->
                    </div>

                    <div class="col-sm-3">
                        <div class="footer-link">
                            <h6 class="footer-title">I Am Grateful To:</h6>
                            
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"><a style="color: white;" href="https://www.kaggle.com/"> Kaggle</a></i><br>
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"><a style="color: white;" href="analyticsvidhya.com"> AnalyticsVidhya </a></i><br>
                                
                              
                               
                     
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-link">
                            <h6 class="footer-title">Design & Develop By:</h6>
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"> Akash Vishwakarma</i><br>
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"> theaky786@gmail.com</i><br>
                                
                             
                            
                        </div> <!-- footer link -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p class="text">Crafted by <a style="color: #38f9d7" rel="nofollow" href="#">AV</a></p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-logo text-center mt-10">
                            <a href="index.html">
                                <img src="{{ url_for('static', filename='image/av1.png') }}" height=50 width=50>
                            </a>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-5">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                        </ul> <!-- social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>
</div>

<div id="divloader" align="center" class="center">
  <div class="ring" id="loader"></div>
  <span>Loading...</span>
</div>


</body>
</html>
